h1{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 5rem;
    color: $TextWhite;
    margin-bottom: 3rem;
}
h6{
    color: $BrandColor;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
